
body {
	background-color:  #f2f3f7;     
}


.nav-wrapper {
	margin-top: none;
	color: green;
}

h3 {
font-family: 'Gotham A', 'Helvetica Neue' ;
}
.navbar {
	background-color: green;
	color: white;

}

/* #7b8087;

li a :hover  {
	background-color:  #ffc107;

}
*/

/*
hr {
   border-style: dashed;
}

*/

ul  .active {
	font-weight: bold;
	background-color: #ffc107;
	width: 100%;
	}
