<div class="container">
		<h3 align="center">Registrar-se</h3>
		<form ng-submit="authCtrl.register()">
			<input type="email" class="form-control" placeholder="Seu email" ng-model="authCtrl.user.email" />
			<br />
			<input type="password" class="form-control" placeholder="Sua senha" ng-model="authCtrl.user.password" />
			<!-- 
			<form action="#">
    <p>
      <input type="checkbox" id="TERMOS DO CADASTRO" ng-model="authCtrl.terms"/>
      <label for="TERMOS DO CADASTRO">TERMOS DO CADASTRO</label>
    </p>
</form>
-->



<div class="switch">
    <label>
      Off
      <input type="checkbox" ng-model="authCtrl.terms"/>
      <span class="lever" ></span>
      TERMOS DO CADASTRO
    </label>
  </div>
			<div ng-show="authCtrl.terms">
				<p><i>Estou ciente de que o material que sera apresentado e toda sua documentacao e restritamente sigilosa, rastreavel e confidencial.<br>a Ultravisao preza por isto e pede que Nao se tire copias indevidas do documentos aqui apresentados.</i></p>
			</div>
		
			<button align="center" ng-show="authCtrl.terms" class="btn btn-largue amber col s12 m6 l8" type="submit" >Registrar-se</button>
		</form>
</div>




